*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  background-color: antiquewhite;
  height: 10vh;
}
.sidebar{
  background-color: pink;
  width: 30%;
  height: 70vh;
  display: inline-block;
}
.footer{
  background-color: aquamarine;
  height: 10vh;
}