*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.convertor{
  background-color: antiquewhite;
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 4rem;
}